@model CMI.Track.Web.Models.ReqManualCompra

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Actualizar Material Requisicion</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Actualizar", "ReqManualCompra", FormMethod.Post, new { id = "ActualizarReqManualCompraForm", name = "ActualizarReqManualCompraForm", @class = "form-horizontal" }))
            {
                <div class="form-group">

                    <div class="col-sm-5">
                        <span>Almacen</span>
                        <select id="Almacen" name="Almacen" class="form-control" required="required" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <span>Material</span>
                        <span id="idMaterial" style="display:none;">Id</span>
                        <div class="input-group">
                            @Html.HiddenFor(model => model.idMaterialSelect)
                            <label class="form-control" disabled="disabled">@Model.idMaterialSelect</label>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="btnBuscarMat" name="btnBuscarMat"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <span style="color:white;">nombre material</span>
                        @Html.HiddenFor(model => model.nombreMaterial)
                        <label class="form-control" disabled="disabled">@Model.nombreMaterial</label>
                    </div>

                    <div class="col-sm-2">
                        <span>Unidad Medida</span>
                        <select id="Unidad" name="Unidad" class="form-control" required="required"></select>
                    </div>

                    <div class="col-sm-3">
                        <span>Cantidad solicitada</span>
                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", maxlength = 5 })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3">
                        <span>Ancho</span>
                        @Html.HiddenFor(model => model.Ancho)
                        <label class="form-control" disabled="disabled">@Model.Ancho</label> 
                    </div>

                    <div class="col-sm-3">
                        <span>Longitud</span>
                        @Html.HiddenFor(model => model.Largo)
                        <label class="form-control" disabled="disabled">@Model.Largo</label> 
                    </div>

                    <div class="col-sm-3">
                        <span>Calidad Acero</span>
                        @Html.HiddenFor(model => model.Calidad)
                        <label class="form-control" disabled="disabled">@Model.Calidad</label> 
                    </div>

                    <div class="col-sm-3">
                        <span>Peso</span>
                        @Html.HiddenFor(model => model.Peso)
                        <label class="form-control" disabled="disabled">@Model.Peso</label> 
                    </div>

                    <input type="hidden" id="idMaterialSelect" name="idMaterialSelect" />
                </div>

                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.usuarioCreacion)
                @Html.HiddenFor(model => model.idRequerimiento)
                @Html.HiddenFor(model => model.idRequisicion)
                <input type="hidden" id="unid" name="unid" value="@Model.Unidad" />
                <input type="hidden" id="alm" name="alm" value="@Model.Almacen" />
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-ActualizarMaterialRequi">Actualizar</button>
        </div>
    </div><!-- /.modal-content -->
</div>
