@model CMI.Track.Web.Models.ReqManualCompra

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Actualizar Material Requisicion</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Actualizar", "ReqManualCompra", FormMethod.Post, new { id = "ActualizarReqManualCompraForm", name = "ActualizarReqManualCompraForm", @class = "form-horizontal" }))
            {
                <div class="form-group">

                    <div class="col-sm-5">
                        <span>Almacen</span>
                        <select id="Almacen" name="Almacen" class="form-control" required="required"></select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-2">
                        <span id="idMaterial" style="display:none;">Id</span>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.idMaterialSelect, new { @class = "form-control", maxlength = 100 })
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="btnBuscarMat" name="btnBuscarMat"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.nombreMaterial, new { @class = "form-control", maxlength = 100 })
                    </div>

                    <div class="col-sm-3">
                        <select id="Unidad" name="Unidad" class="form-control" required="required"></select>
                    </div>

                    <div class="col-sm-2">
                      
                        @Html.TextBoxFor(model => model.Calidad, new { @class = "form-control", maxlength = 100 })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Ancho, new { @class = "form-control", maxlength = 100 })
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Largo, new { @class = "form-control", maxlength = 100 })
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", maxlength = 100 })
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Peso, new { @class = "form-control", maxlength = 100 })
                    </div>

                    <input type="hidden" id="idRequerimiento" name="idRequerimiento" />
                    <input type="hidden" id="idMaterialSelect" name="idMaterialSelect" />
                    <input type="hidden" id="Causa" name="Causa" />
                    <input type="hidden" id="Origen" name="Origen" />
                </div>

                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.usuarioCreacion)
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-ActualizarMaterialRequi">Actualizar</button>
        </div>
    </div><!-- /.modal-content -->
</div>
