@model CMI.Track.Web.Models.ReqManualCompra

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo  Requisición</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Nuevo", "ReqManualCompra", FormMethod.Post, new { id = "NuevoReqManualCompraForm", name = "NuevoReqManualCompraForm", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <div class="col-lg-5" id="OrigenDiv">
                        <div class="col-sm-1"><span>Origen</span></div>
                        <div class="col-sm-11">
                            <select id="Origen" name="Origen" class="form-control" required="required"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-7" id="CausaDiv" style="display:none;">
                        <span>Causa</span>
                        <div class="col-sm-12">
                            @Html.TextAreaFor(model => model.Causa, new
                                {
                                    @class = "form-control",
                                    maxlength = 250,
                                    onkeypress = "return ( this.value.length < 250 );",
                                    rows = "4"
                                })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <div class="col-sm-2">
                            <span>Requisición</span>
                            <span id="idRequi" placeholder="Requisición" class="form-control" title="idRequi">Requisición</span>
                            @Html.HiddenFor(model => model.idRequisicion)

                        </div>
                        <div class="col-sm-5">
                            <span>Almacen</span>
                            <select id="Almacen" name="Almacen" class="form-control" required="required"></select>
                        </div>
                    </div>
                
             

                <div class="form-group">
                    
                    <div class="col-sm-2">
                        <span>Material</span>
                        <span id="idMaterial" style="display:none;">Id</span>
                        <div class="input-group">
                            <input type="text" id="idMaterialSelect" name="idMaterialSelect" class="form-control" placeholder="Id" title="Id" >
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="btnBuscarMat" name="btnBuscarMat"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <span style="color:white;">nombre material</span>
                        <input type="text" id="NombreMat" placeholder="Material" class="form-control" title="NombreMaterial" >
                    </div>

                    <div class="col-sm-3">
                        <span>Unidad Medida</span>
                        <select id="Unidad" name="Unidad" class="form-control" required="required"></select>
                    </div>

                    <div class="col-sm-3">
                        <span>Cantidad solicitada</span>
                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", maxlength = 100 })

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3">
                        <span>Ancho</span>
                        <input type="text" id="AnchoMat" placeholder="Ancho" class="form-control" title="Ancho">
                    </div>

                    <div class="col-sm-3">
                        <span>Longitud</span>
                        <input type="text" id="LongitudMat" placeholder="Longitud" class="form-control" title="Longitud">
                    </div>

                    <div class="col-sm-3">
                        <span>Calidad Acero</span>
                        <input type="text" id="CalidadAcero" placeholder="Calidad Acero" class="form-control" title="CalidadAcero">
                    </div>

                    <div class="col-sm-3">
                        <span>Peso</span>
                        <input type="text" id="PesoMat" placeholder="Peso" class="form-control" title="PesoMat">
                    </div>

                    <input type="hidden" id="idRequerimiento" name="idRequerimiento" />
                    <input type="hidden" id="idMaterialSelect" name="idMaterialSelect" />
                    <input type="hidden" id="Causa" name="Causa" />
                    <input type="hidden" id="Origen" name="Origen" />
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-AgregarMaterial">Agregar</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="bbGrid-MatRequi" class="col-lg-12">
                            <div id="cargandoInfo" style="display:none;">Cargando informacion...</div>
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.usuarioCreacion)
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-GuardaNuevo">Cerrar</button>
        </div>
    </div><!-- /.modal-content -->
</div>
