@model CMI.Track.Web.Models.ActividadProduccion

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo Registro de Calidad</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Nuevo", "ActividadProduccion", FormMethod.Post, new { id = "NuevoActividadForm", name = "NuevoActividadForm", @class = "form-horizontal", onsubmit = "return false" }))
            {

                <div class="form-group">
                    @Html.LabelFor(model => model.idEstatus_Calidad, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.idEstatus_Calidad,
                            new SelectList(new[]{
                                new SelectListItem{ Text="LIBERADO", Value="20"},
                                new SelectListItem{ Text="RECHAZADO", Value="21"}},
                            "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.longitud, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.longitud, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1"> </div>
                    @Html.LabelFor(model => model.barrenacion, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.barrenacion, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1"> </div>
                    @Html.LabelFor(model => model.placa, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.placa, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"> </div>
                    @Html.LabelFor(model => model.soldadura, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.soldadura, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1"> </div>
                    @Html.LabelFor(model => model.pintura, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.pintura, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.observaciones, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.observaciones, new
                    {
                        @class = "form-control",
                        maxlength = 250,
                        onkeypress = "return ( this.value.length < 250 );",
                        rows = "4"
                    })
                    </div>
                </div>
                
                @Html.HiddenFor(model => model.tipo)
                @Html.HiddenFor(model => model.clase)
                @Html.HiddenFor(model => model.idSubmarca)
                @Html.HiddenFor(model => model.idMarca)
                @Html.HiddenFor(model => model.idSerie)
                @Html.HiddenFor(model => model.idUsuarioFabrico)
                @Html.HiddenFor(model => model.usuarioCreacion)
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnDarRegistroCalidad">Registrar</button>
        </div>
    </div><!-- /.modal-content -->
</div>
