@model List<CMI.Track.Web.Models.MenuGrupo>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            @foreach (var grupo in Model)
            {
                <li>
                    <a href="#"><i class="fa @grupo.iconGrupo fa-fw"></i> @grupo.nombreGrupo <span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">

                        @foreach (var item in grupo.lstPermisos)
                        {
                            if (item.urlModulo == "")
                            {
                                @Html.Raw("<li style='display:none;'><div id=" + item.nombreModulo + ">" + item.permisosAsignados + "</div></li>");
                            }
                            else
                            {
                                @Html.Raw("<li>");                               
                                @Html.Raw(" <a href=" + Url.Content("~") + item.urlModulo + " onclick='CMI.setPermisos(" + item.permisosAsignados + ")'>" + item.nombreModulo + "</a>");
                                @Html.Raw("</li>");
                            }
                        }
                    </ul>
                </li>
            }           
        </ul>
    </div>

    <!-- /.sidebar-collapse -->
</div>