@model CMI.Track.Web.Models.Usuario

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo   Usuario</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Nuevo", "Usuario", FormMethod.Post, new { id = "NuevoUsuarioForm", name = "NuevoUsuarioForm", @class = "form-horizontal", onsubmit = "return false" }))
            {               

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreUsuario, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", maxlength = 20 })
                    </div>
                    @Html.LabelFor(model => model.Contrasena, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Contrasena, new { @class = "form-control", type = "password", maxlength = 20 })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", maxlength = 50 })
                    </div>

                    @Html.LabelFor(model => model.ApePaterno, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ApePaterno, new { @class = "form-control", maxlength = 50 })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ApeMaterno, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ApeMaterno, new { @class = "form-control", maxlength = 50 })
                    </div>

                    @Html.LabelFor(model => model.idEstatus, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.idEstatus,
                                                                    new SelectList(new[]{
                                                                                  new SelectListItem{ Text="ACTIVO", Value="1"},
                                                                                  new SelectListItem{ Text="INACTIVO", Value="0"}},
                                                        "Value", "Text"), new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Correo, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Correo, new { maxlength = 100, @class = "form-control" })
                    </div>
                    @Html.LabelFor(model => model.autorizaRequisiciones, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.autorizaRequisiciones)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.puestoUsuario, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.puestoUsuario, new { @class = "form-control", maxlength = 50 })
                    </div>
                    @Html.LabelFor(model => model.areaUsuario, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.areaUsuario, new { @class = "form-control", maxlength = 50 })
                    </div>
                </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idDepartamento, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <select class="form-control select2" id="idDepartamento" name="idDepartamento" required="required"></select>
        </div>

    </div>

        <div class="row">
            <label class="control-label col-sm-2">Proceso Origen</label>
            <div class="col-sm-4">
                <select multiple class="form-control" id="idProcesoOrigen" name="idProcesoOrigen">
                    <!-- <option>Corte</option>
                        <option>Pantografo</option>
                        <option>Ensamble</option>
                        <option>Calidad ensamble</option>-->
                </select>
            </div>

            <label class="control-label col-sm-2">Proceso Destino</label>
            <div class="col-sm-4">
                <select multiple class="form-control" id="idProcesoDestino" name="idProcesoDestino"></select>
            </div>

        </div>


        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.fechaCreacion)
        @Html.HiddenFor(model => model.usuarioCreacion)
        <input type="hidden" id="departamento" name="departamento" value="" />

        }
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-GuardaNuevo">Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div>



