@model CMI.Track.Web.Models.Login
@{    
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administracion de proyectos para CMI">
    <meta name="author" content="Sysba">

    <title>CMI Track </title>

    @Styles.Render("~/Content/cssLogon")
    @Html.Partial("_html5shiv")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <!--[if lt IE 10]>
                        <div class='alert alert-danger'>
                                <button type='button' class='close' data-dismiss='alert'>x</button>
                                El explorador no soporta HTML 5. Puede que la aplicacion no funcione correctametne. Utilice un navegador mas reciente.</div>
                        <![endif]-->

                    <div class="panel-heading">
                        <h3 class="panel-title">Credenciales de usuario</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Autentificacion", new { ReturnUrl = ViewBag.ReturnUrl },
                            FormMethod.Post, new { id = "frmLogin", @role = "form", @class = "form-horizontal" }))
                        {
                        <div class="form-group">                            
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", autofocus = "true", placeholder = "Nombre de usuario", maxlength = 20 })                               
                            </div>
                            <div class="col-sm-2">
                                @Html.ValidationMessageFor(model => model.NombreUsuario, null)
                            </div>                           
                        </div>
                        <div class="form-group">                           
                            <div class="col-sm-10">
                                @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control", placeholder = "Contraseña", maxlength = 15 })

                            </div>
                            <div class="col-sm-2">
                                @Html.ValidationMessageFor(model => model.Contrasena, null)
                            </div>
                        </div>
                        <div>
                            @if (ViewBag.error != string.Empty)
                            {
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Mensaje!</strong> @ViewBag.error
                            </div>
                            }
                        </div>
                        <button type="submit" class="btn  btn-lg btn-success btn-block">Aceptar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/Logon")

    <script type="text/javascript">
        $(function () {
            localStorage.clear();
        });
    </script>

</body>



</html>