@model CMI.Track.Web.Models.PlanosMontaje

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo  Plano de Montaje</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Nuevo", "PlanosMontaje", FormMethod.Post, new { id = "NuevaPlanosMontajeForm", name = "NuevaPlanosMontajeForm", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.nombrePlanoMontaje, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.nombrePlanoMontaje, new { @class = "form-control", maxlength = 20 })
                    </div> 
                    @Html.LabelFor(model => model.codigoPlanoMontaje, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.codigoPlanoMontaje, new { @class = "form-control", maxlength = 20 })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fechaInicio, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        <div class='input-group date' id='dtpFechaInicio'>
                            @Html.TextBoxFor(model => model.fechaInicio, new { @class = "form-control", maxlength = 10 })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>

                    @Html.LabelFor(model => model.fechaFin, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        <div class='input-group date' id='dtpFechaFin'>
                            @Html.TextBoxFor(model => model.fechaFin, new { @class = "form-control", maxlength = 10 })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.idEstatus, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.idEstatus,
                                                                    new SelectList(new[]{
                                                                                  new SelectListItem{ Text="ACTIVO", Value="1"},
                                                                                  new SelectListItem{ Text="INACTIVO", Value="0"}},
                                                        "Value", "Text"), new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-sm-2">   </div>
                    @Html.LabelFor(model => model.fechaCreacion, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        <div class='input-group date'>
                            @Html.TextBoxFor(model => model.fechaCreacion, new { @class = "form-control", maxlength = 10, disabled = "disabled" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.infGeneralPlanoMontaje, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.infGeneralPlanoMontaje, new
                    {
                        @class = "form-control",
                        maxlength = 250,
                        onkeypress = "return ( this.value.length < 250 );",
                        rows = "4"
                    })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Plano</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Archivo&hellip; <input type="file" id="fPlano" name="fPlano">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.idEtapa)
                @Html.HiddenFor(model => model.usuarioCreacion)
                @Html.HiddenFor(model => model.archivoPlanoMontaje)
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-GuardaNuevo">Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div>