@model CMI.Track.Web.Models.AsignaProyecto

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Asignar Materiales</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Actualizar", "AsignarMateriales", FormMethod.Post, new { id = "NuevoAsignaMaterialesForm", name = "NuevoAsignaMaterialesForm", @class = "form-horizontal" }))
            {

                    <div class="form-group">
                        <div class="col-sm-2"> <label class="control-label">Requisición</label></div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <p id="idRequisicion" name="idRequisicion" class="form-control" placeholder="Requisicion" title="Requisicion"> Requisicion </p>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" id="btnBuscarRequisicion" name="btnBuscarRequisicion"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                            <input type="hidden" id="idRequisicionSelect" name="idRequisicionSelect" />
                        </div>
                        <div class="col-sm-3">
                            <span id="OrigenReq" placeholder="OrigenReq" class="form-control" title="OrigenReq">Origen</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                            </div>
                        </div>
                        <div class="col-sm-2"> <label class="control-label">Material</label></div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <p id="idMaterial" name="idMaterial" class="form-control" placeholder="Material" title="Requisicion"> Material </p>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" id="btnBuscarMat" name="btnBuscarMat"><span class="fa fa-search"></span></button>
                                </span>
                                
                            </div>
                            
                            <input type="hidden" id="idMaterialSelect" name="idMaterialSelect" />
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-outline btn-primary btn-circle btnAgregaM"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div id="bbGrid-MaterialesAsignados" class="col-lg-12">
                                <div id="cargandoInfo" style="display:none;">Cargando informacion...</div>
                            </div>
                        </div>
                    </div>

                <input type="hidden" id="idRequisicionSelect" name="idRequisicionSelect" />
               

                @Html.HiddenFor(model => model.usuarioCreacion)
                @Html.HiddenFor(model => model.idAlmacen)
                @Html.HiddenFor(model => model.idEtapa)
                @Html.HiddenFor(model => model.idProyecto)
                @Html.HiddenFor(model => model.idReq)
                @Html.HiddenFor(model => model.Revision)
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-GuardaNuevo">Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div>



